.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
@media (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

ul {
  padding-left: 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
